.bg-red-pic {
  background-image: url("../assets/img/backgrounds/red-pic.png");
  background-size: cover;
  height: 120vh;
}

.bg-black-glitter, .bg-black-glitter-time  {
  background-image: url("../assets/img/backgrounds/black-glitter.jpeg");
  background-size: cover;
  background-position: center;
}

.bg-white-waves {
  background-image: url("../assets/img/backgrounds/white-waves.jpeg");
  background-size: cover;
  background-position: center;
}

.bg-red-glitter {
  background-image: url("../assets/img/backgrounds/red-glitter-mobile.png");
  background-size: cover;
  background-position: center;
}

.bg-red-sunset {
  background-image: url("../assets/img/backgrounds/red-sunset.png");
  background-size: cover;
  background-position: center;
}

.bg-red-galaxy {
  background-image: url("../assets/img/backgrounds/red-galaxy.jpeg");
  background-size: cover;
  background-position: center;
}
.bg-beach{
  background-image: url("../assets/img/backgrounds/bg-beach.png");
  background-size: cover;
  background-position: center;
}
.bg-disco{
  background-image: url("../assets/img/backgrounds/bg-disco.png");
  background-size: cover;
  background-position: center;
}
.bg-red{
  background-color: #A90000;
}
.bg-campari{
  background-color: #f46f6f;
  height: 120vh;
}
.bg-validated{
  background-color: #2E756C;
}
@media only screen and (max-width: 930px) {
  .bg-red-pic {
    background-image: url("../assets/img/backgrounds/red-pic-mobile.png");
  }

  .bg-black-glitter {
    background-image: url("../assets/img/backgrounds/black-glitter-mobile.png");
  }
  .bg-black-glitter-time{
    background-image: url("../assets/img/backgrounds/black-glitter.jpeg");
    background-size: cover;
    background-position: center;
  }

  .bg-white-waves {
    background-image: url("../assets/img/backgrounds/white-waves-mobile.png");
  }

  .bg-red-glitter {
    background-image: url("../assets/img/backgrounds/red-glitter-mobile.png");
  }

  .bg-red-sunset {
    background-image: url("../assets/img/backgrounds/red-sunset-mobile.png");
  }
  .bg-beach{
    background-image: url("../assets/img/backgrounds/bg-beach-mobile.png");
    height: 100vh;
  }
  .bg-disco{
    background-image: url("../assets/img/backgrounds/bg-disco-mobile.png");
    height: 120vh;
    background-position-y: bottom !important;
  }
}