.bg-red-pic {
  background-image: url("../assets/img/backgrounds/foto_heroimg.webp");
  background-size: cover;
}

.bg-black-glitter, .bg-black-glitter-time  {
  background-image: url("../assets/img/backgrounds/black-glitter.webp");
  background-size: cover;
  background-position: center;
}
/* 
.bg-white-waves {
  background-image: url("../assets/img/backgrounds/white-waves.jpeg");
  background-size: cover;
  background-position: center;
} */
.bg-white-waves{
  background-image: url("../assets/img/backgrounds/white_waves_.webp");
  background-size: cover;
  background-position: center;
}

.bg-red-glitter {
  background-image: url("../assets/img/backgrounds/red-glitter-mobile.webp");
  background-size: cover;
  background-position: center;
}

.bg-red-sunset {
  background-image: url("../assets/img/backgrounds/red-sunset.webp");
  background-size: cover;
  background-position: center;
}

.bg-red-galaxy {
  background-image: url("../assets/img/backgrounds/red-galaxy.webp");
  background-size: cover;
  background-position: center;
}
.bg-beach{
  background-image: url("../assets/img/backgrounds/bg-beach.webp");
  background-size: cover;
  background-position: center;
}
.bg-disco{
  background-image: url("../assets/img/backgrounds/bg-disco.webp");
  background-size: cover;
  background-position: center;
}
.bg-red{
  background-color: #A90000;
}
.bg-campari{
  background-color: #f46f6f;
}
.bg-campari-card{
  background-color: #f46f6f;
}
.bg-validated{
  background-color: #2E756C;
}
@media only screen and (max-width: 930px) {
  .bg-campari {
    height: 110vh;
  }
  .bg-red-pic {
    background-image: url("../assets/img/backgrounds/red-pic-mobile.webp");
  }

  .bg-black-glitter {
    background-image: url("../assets/img/backgrounds/black-glitter-mobile.webp");
  }
  .bg-black-glitter-time{
    background-image: url("../assets/img/backgrounds/black-glitter.webp");
    background-size: cover;
    background-position: center;
  }
/* 
  .bg-white-waves {
    background-image: url("../assets/img/backgrounds/white-waves-mobile.png");
  } */
  .bg-white-waves{
    background-image: url("../assets/img/backgrounds/white_waves_mobile.webp");
  }

  .bg-red-glitter {
    background-image: url("../assets/img/backgrounds/red-glitter-mobile.webp");
  }

  .bg-red-sunset {
    background-image: url("../assets/img/backgrounds/red-sunset-mobile.webp");
  }
  .bg-beach{
    background-image: url("../assets/img/backgrounds/bg-beach-mobile.webp");
    height: 90vh;
  }
  .bg-disco{
    background-image: url("../assets/img/backgrounds/bg-disco-mobile.webp");
    height: 90vh;
    background-position-y: bottom !important;
  }
}