@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-regular.woff2') format('woff2'),
        url('../fonts/gotham/gotham-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-bold.woff2') format('woff2'),
        url('../fonts/gotham/gotham-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-italic.woff2') format('woff2'),
        url('../fonts/gotham/gotham-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-black.woff2') format('woff2'),
        url('../fonts/gotham/gotham-black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-book.woff2') format('woff2'),
        url('../fonts/gotham/gotham-book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-bookitalic.woff2') format('woff2'),
        url('../fonts/gotham/gotham-bookitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

.primary-font {
    font-family: 'Gotham', sans-serif;
}