.brands-size {
    width: 15%;
}

.title {
    font-weight: 800;
    font-size: 35pt;
}

.subtitle {
    font-weight: 800;
    font-size: 16pt;
}
.subtitle-h3{
    font-weight: 800;
    font-size: 30pt
}

.subtitle-time{
    font-weight: 800;
    font-size: 25pt;
}

.text {
    font-size: 20pt;
}
.text-italic {
    font-size: 15pt;
    font-style: italic;
}
.text-gray{
    color: #4D4D4D
}
.secondari {
    color: #A2A2A2;
}

.title-red {
    color: #A90000;
}

.container {
    max-width: 1920px !important;
    margin: 0px !important;
}
.img-size {
    width: 50%;
}

.img-size-md {
    width: 50%;
}
.img-stamp{
    width: 60%;
}

.pdkop{
    padding: 5vw;
}
@media (min-width: 992px){
    .margint{
        margin-top: 4rem;
    }
    .button{
        padding-left: 30% !important;
        padding-right: 30% !important;
    }
}

@media (max-width: 926px) {
    .stamp-img {
        margin-top: 30%;
    }

    .brands-size {
        width: 50%
    }

    .title {
        font-weight: 800;
        font-size: 21pt;
    }

    .subtitle {
        font-weight: 800;
        font-size: 12pt;
    }
    .subtitle-h3{
        font-weight: 800;
        font-size: 16pt
    }

    .text {
        font-size: 13pt;
    }

    .text-italic {
        font-size: 13pt;
        font-style: italic;
    }
    .img-size{
        width: 60%;
    }
    .img-size-md{
        width: 60%
    }
    .img-stamp{
        width: 80vw ;
    }
}