.brands-size{
    width: 20%;
}
.title{
    font-size: 1.9rem
}
.subtitle{
    font-size: 0.9rem;
}
.text{
    font-size: 0.8rem;
    color: #4D4D4D
}
.secondari{
    color: #A2A2A2;
}
.title-red{
    color: #A90000;
}
.container {
    max-width: 1920px !important; 
    margin: 0px !important;
}

@media (max-width: 926px){
    .stamp-img {
            margin-top: 30%;
        }
    .brands-size{
        width: 50%
    }
}
