/* --Presentation-- */
.img-stamp {
    width: 100%;
}

/* --Participate-- */
.img-size {
    width: 50%;
}

.img-size-md {
    width: 18%;
}

/* --Winner-- */
.rounded-circle {
    width: 50%;
}

/* --Brands-- */
.brands-size {
    width: 15%;
}

/*--Time--*/
.img-clock {
    width: 50%;
}

/* --PhysicalTicket-- */
.img-ticket {
    width: 18%;
}

/* ---MediaQuerys--- */
/* --Desktop-- */
@media (min-width: 1024px) {

    /* <--Participate--> */
    .img-size-p {
        width: 100%;
    }

    /* <--Award--> */
    .img-size-award {
        width: 65%;
    }

    /* <--Guide--> */
    .img-size-guide {
        width: 75%;
    }

    /* <--Brands--> */
    .brands-size-e {
        width: 12%;
    }

    .image-container{
        width: 60% !important;
    }
}

/* --Tablets-- */
@media (min-width: 926px) and (max-width: 1024px) {

    /* <--Participate--> */
    .img-size-p {
        width: 100%;
    }

    /* <--Award--> */
    .img-size-award {
        width: 40%;
    }

    /* <--Guide--> */
    .img-size-guide {
        width: 50%;
    }

    /* <--Brands--> */
    .brands-size-e {
        width: 12%;
    }

    /* <--Winner--> */
    .rounded-circle {
        width: 30%;
    }

}

/* --Mobile-- */
@media (max-width: 926px) {

    /* <--Presentation--> */
    .img-stamp {
        width: 90%;
        margin-top: 30%;
    }

    /*<--Participate--> */
    .img-size-p {
        width: 70%;
    }

    /*<--Award-->*/
    .img-size-award {
        width: 65%;
    }

    /* <--Guide--> */
    .img-size-guide {
        width: 70%;
    }

    /* <--Brands--> */
    .brands-size-e {
        width: 30%;
    }

    .brands-size {
        width: 30%
    }

    /*<--Winner-->  */
    .rounded-circle {
        width: 150px;
    }

    .img-size {
        width: 60%;
    }

    .img-size-md {
        width: 60%
    }


    .img-clock {
        width: 100%;
    }

    /* <--PhysicalTicket--> */
    .img-ticket {
        width: 40%;
    }
}
