.animated-validated {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.animated-validated.show {
    opacity: 1;
    transform: translateY(0);
}

.bg-error {
    background-color: #730f0f;
}